<h1>Create a New Task</h1>

<form action='/tasks' method='POST'>
<label>Title:</label>
<input type ='text' id="title" name="task[title]"> <br> <br>
<label>Due_Date:</label>
<input type ='date' id="due_date" name="task[due_date]"> <br> <br>
<label>Priority:</label>
<input type ='text' id="priority" name="task[priority]"> <br> <br>

<input type="submit" value="Create Task">

</form>