<h1>Welcome to your tasks</h1>

<ol>
<% @tasks.each do |task|%>
<li><a href="/tasks/<%= task.id %>"><%= task.title%></a>
<ul>
<li>Due Date: <%= task.due_date%> </li>
<% if task.priority %>
<li>Priority: <%= task.priority %> </li>
<% end %>
</ul>
</li>
<% end %>
</ol>

<form action='/tasks/new' method='GET'>
<input type="submit" value="Create Task">
</form>